
opensearch:
  host: HOST_IP
  port: PORT
  username: YOUR_USERNAME
  password: YOUR_PASSWORD
  use_ssl: true
  verify_certs: false

output:
  index_prefix: "ml-anomalies"

wazuh:
  index_pattern: "wazuh-alerts-*"
  lookback_minutes: 60
  baseline_days: 14


auth:
  query_groups_any:
    - "authentication"
    - "sshd"
    - "pam"
